<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
  <link rel="stylesheet" href="http://localhost:8080/css/bootstrap.css" />
</head>
<body>

  <main>
    <div>
      <h1 class="title fw-bolder"> Performance Analytics! </h1>
      <p class="subtitle">
        Welcome, please choose any option below
      </p>

      <a class='' href="/reports">Reports Dashboard</a><br/>
      <a class='' href="/record">Record Fight</a>
    </div>
  </main>
</body>
</html>
