<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
  <link rel="stylesheet" href="http://localhost:8080/css/bootstrap.css" />
  </head>
  <body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow-none">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">Fight Performance Analytics</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Record Fight</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Boxers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
     <div class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow-none">
                                <a
                                    class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fw-bold"
                                    href="#"
                                >
                                    Performance Analytics
                                </a>
                                <button
                                    class="navbar-toggler position-absolute d-md-none collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#sidebarMenu"
                                    aria-controls="sidebarMenu"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation"
                                >
                                    <span class="navbar-toggler-icon"></span>
                                </button>


                            </div>

    @!section('body')

    <footer class="footer">
    </footer>
    <script src="http://localhost:8080/js/bootstrap.js"></script>
  </body>
</html>
